<h2>Create a New User</h2>

<%= form_with model: @user do |form| %>
  <%= form.label :name, 'Username:' %>
  <%= form.text_field :name %> <br>
  <%= form.label :email, 'Email:' %>
  <%= form.text_field :email %><br>
  <%= form.label :password, 'Password:' %>
  <%= form.password_field :password %> <br>
  <%= form.label :password_confirmation, 'Confirm Password:' %>
  <%= form.password_field :password_confirmation %> <br>
  <%= form.submit 'Create New User' %>
<% end %>

